In [267]:
#autoreload reloads modules automatically before entering the execution of code typed at the IPython prompt.
%load_ext autoreload
%autoreload 2

      service   arrival
0    0.299765  0.000000
1    1.874397  0.043304
2    4.068018  0.059147
3    4.090227  0.079092
4    6.829098  0.123709
..        ...       ...
81  90.638847  7.082490
82  91.792293  7.145900
83  92.030594  7.261210
84  92.778190  7.311300
85  92.864108  7.359047

[86 rows x 2 columns]
0      0.299765
1      1.831093
2      4.008871
3      4.011136
4      6.705388
        ...
81    83.556357
82    84.646393
83    84.769384
84    85.466890
85    85.505061
Length: 86, dtype: float64
      service   arrival
0    1.502918  0.000000
1    1.671375  0.069100
2    3.377380  0.198748
3    3.388511  0.208361
4    3.541684  0.219985
..        ...       ...
80  79.017051  8.216950
81  83.406289  8.226772
82  86.743299  8.298172
83  87.498997  8.504882
84  89.506482  8.555009

[85 rows x 2 columns]
0      1.502918
1      1.602274
2      3.178632
3      3.180150
4      3.321699
        ...
80    70.800100
81    75.179518
82    78.445127
83    78.994115
84    80.951473
Length: 85, dtype: float64
      service   arrival
0    1.671318  0.000000
1    1.715587  0.012741
2    3.533651  0.146152
3    5.653561  0.210024
4    6.074276  0.231540
..        ...       ...
75  76.198673  6.536453
76  78.975624  6.591592
77  81.603178  6.867793
78  83.908001  6.870457
79  84.036821  6.888824

[80 rows x 2 columns]
0      1.671318
1      1.702846
2      3.387499
3      5.443536
4      5.842736
        ...
75    69.662221
76    72.384032
77    74.735385
78    77.037543
79    77.147996
Length: 80, dtype: float64
      service   arrival
0    0.299978  0.000000
1    0.311233  0.018460
2    0.849381  0.429315
3    2.269259  0.559433
4    2.413651  0.629205
..        ...       ...
94  77.637751  8.759078
95  79.176954  8.775483
96  84.645465  8.902832
97  86.117121  9.035564
98  87.084059  9.203711

[99 rows x 2 columns]
0      0.299978
1      0.292773
2      0.420066
3      1.709825
4      1.784446
        ...
94    68.878673
95    70.401471
96    75.742633
97    77.081557
98    77.880348
Length: 99, dtype: float64
       service    arrival
0     0.293128   0.000000
1     0.837643   0.058954
2     2.036627   0.099226
3     2.192956   0.393214
4     2.644482   0.658728
..         ...        ...
104  82.763009  10.609760
105  84.300444  10.768672
106  84.832276  11.075626
107  85.997684  11.157227
108  86.352060  11.285276

[109 rows x 2 columns]
0       0.293128
1       0.778690
2       1.937401
3       1.799742
4       1.985754
         ...
104    72.153248
105    73.531772
106    73.756650
107    74.840457
108    75.066783
Length: 109, dtype: float64
      service    arrival
0    0.566763   0.000000
1    1.622217   0.028234
2    1.973219   0.054285
3    3.162952   0.076606
4    3.319444   0.122598
..        ...        ...
88  90.040213   9.332021
89  90.367341   9.489302
90  91.767088   9.526544
91  94.377256   9.763026
92  96.756961  10.001619

[93 rows x 2 columns]
0      0.566763
1      1.593983
2      1.918934
3      3.086346
4      3.196846
        ...
88    80.708192
89    80.878039
90    82.240543
91    84.614230
92    86.755342
Length: 93, dtype: float64
      service   arrival
0    0.937150  0.000000
1    1.148919  0.130698
2    2.063086  0.164100
3    3.646836  0.187852
4    4.600181  0.248902
..        ...       ...
86  81.229376  8.107835
87  84.049084  8.202674
88  86.313604  8.365202
89  86.788171  8.480584
90  87.472372  8.594395

[91 rows x 2 columns]
0      0.937150
1      1.018222
2      1.898986
3      3.458984
4      4.351279
        ...
86    73.121540
87    75.846410
88    77.948402
89    78.307587
90    78.877978
Length: 91, dtype: float64
      service   arrival
0    1.299957  0.000000
1    2.890297  0.175736
2    3.377386  0.191295
3    5.883225  0.362069
4    7.050825  0.507419
..        ...       ...
81  83.855306  6.937384
82  83.860619  6.994868
83  86.363390  7.046008
84  88.840152  7.377634
85  88.973834  7.632466

[86 rows x 2 columns]
0      1.299957
1      2.714561
2      3.186091
3      5.521156
4      6.543406
        ...
81    76.917923
82    76.865751
83    79.317381
84    81.462518
85    81.341368
Length: 86, dtype: float64
       service    arrival
0     2.514122   0.000000
1     3.035471   0.115678
2     3.437771   0.285147
3     3.438928   0.337389
4     3.491630   0.558613
..         ...        ...
98   89.167976  11.430393
99   90.431914  11.436868
100  90.539399  11.449812
101  90.545931  11.584010
102  90.696610  11.650759

[103 rows x 2 columns]
0       2.514122
1       2.919793
2       3.152625
3       3.101539
4       2.933016
         ...
98     77.737583
99     78.995047
100    79.089588
101    78.961921
102    79.045851
Length: 103, dtype: float64
      service   arrival
0    0.091489  0.000000
1    0.207632  0.088310
2    1.243899  0.243309
3    2.584523  0.451751
4    2.960433  0.519806
..        ...       ...
80  83.121490  7.434385
81  83.437568  7.517311
82  84.724008  7.721227
83  84.796804  7.744370
84  84.846835  7.853843

[85 rows x 2 columns]
0      0.091489
1      0.119322
2      1.000591
3      2.132772
4      2.440628
        ...
80    75.687106
81    75.920256
82    77.002781
83    77.052434
84    76.992992
Length: 85, dtype: float64
0    47.347349
1    36.659374
2    38.507554
3    37.083953
4    36.680809
5    40.513888
6    37.475246
7    39.076443
8    39.589637
9    40.582249
dtype: float64
(39.35165023898397, (37.39422915162959, 41.309071326338355))
-0.1111111111111111
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [290]:
import simulations as simul
import pandas as pd

## M/M/1: $\rho$ = 0.1, $\lambda$ = 1, $\mu$ = 10

In [269]:
sim = simul.queue_sim(lamda = 1, mu = 10)

In [270]:
sim.data

           time  N op  run   holding
0      0.000000  1  a    0  0.051071
1      0.051071  2  a    0  0.008719
2      0.059790  1  s    0  0.003804
3      0.063594  2  a    0  0.036739
4      0.100332  1  s    0  0.020735
..          ... .. ..  ...       ...
994  489.855908  1  a    9  0.004078
995  489.859986  0  s    9  0.921769
996  490.781755  1  a    9  0.038052
997  490.819808  0  s    9  0.436222
998  491.256030  1  a    9  0.126307

[9990 rows x 5 columns]

### Métricas simuladas

#### Média de clientes

In [271]:
simul.customers_mean(sim)

(0.11434233959122286, (0.11054298423263753, 0.1181416949498082))

#### Média de espera

In [272]:
simul.mean_wait(sim)

        service     arrival
0      0.059790    0.000000
1      0.100332    0.051071
2      0.121067    0.063594
3      1.067844    0.651267
4      1.805327    1.780940
..          ...         ...
494  505.295689  505.227993
495  506.131822  505.828819
496  506.958922  506.900738
497  507.315195  507.279693
498  508.657153  508.570545

[499 rows x 2 columns]
0      0.059790
1      0.049261
2      0.057474
3      0.416577
4      0.024387
         ...
494    0.067697
495    0.303003
496    0.058184
497    0.035502
498    0.086608
Length: 499, dtype: float64
        service     arrival
0      0.260693    0.000000
1      0.907842    0.869183
2      1.463720    1.441530
3      3.017678    2.615861
4      3.025777    2.930115
..          ...         ...
494  437.119064  437.057327
495  437.348519  437.340430
496  438.049143  437.890905
497  438.125665  438.010176
498  438.715076  438.583340

[499 rows x 2 columns]
0      0.260693
1      0.038659
2      0.022190
3      0.401817
4      0.095662
         ...
494    0.061737
495    0.008089
496    0.158238
497    0.115489
498    0.131736
Length: 499, dtype: float64
        service     arrival
0      0.060785    0.000000
1      0.176993    0.086572
2      5.015863    4.981745
3      7.462500    7.454661
4      9.342763    9.333887
..          ...         ...
494  467.820354  467.637422
495  467.866976  467.759331
496  468.534177  468.504619
497  469.078251  469.006176
498  470.012278  470.004181

[499 rows x 2 columns]
0      0.060785
1      0.090422
2      0.034118
3      0.007839
4      0.008875
         ...
494    0.182932
495    0.107645
496    0.029558
497    0.072075
498    0.008098
Length: 499, dtype: float64
        service     arrival
0      0.097460    0.000000
1      0.997149    0.733233
2      1.737291    1.678642
3      2.036592    1.939609
4      3.347590    3.327373
..          ...         ...
494  480.141857  480.131473
495  480.514190  480.308342
496  481.286555  481.159458
497  481.303877  481.195681
498  482.697900  482.604299

[499 rows x 2 columns]
0      0.097460
1      0.263916
2      0.058650
3      0.096983
4      0.020217
         ...
494    0.010384
495    0.205848
496    0.127097
497    0.108197
498    0.093601
Length: 499, dtype: float64
        service     arrival
0      0.062716    0.000000
1      0.879304    0.720917
2      1.129145    1.035213
3      1.512084    1.410592
4      1.848056    1.772592
..          ...         ...
494  503.063203  503.049042
495  503.348209  503.197174
496  503.367702  503.267208
497  506.174964  506.088144
498  507.416527  507.404875

[499 rows x 2 columns]
0      0.062716
1      0.158388
2      0.093932
3      0.101492
4      0.075464
         ...
494    0.014161
495    0.151035
496    0.100494
497    0.086820
498    0.011652
Length: 499, dtype: float64
        service     arrival
0      0.432304    0.000000
1      2.611548    2.437554
2      3.222973    3.075064
3      3.297525    3.276688
4      4.907144    4.852045
..          ...         ...
494  494.615375  494.527616
495  497.180896  496.934736
496  498.196774  498.143152
497  499.884849  499.474372
498  499.898586  499.590289

[499 rows x 2 columns]
0      0.432304
1      0.173993
2      0.147909
3      0.020837
4      0.055099
         ...
494    0.087759
495    0.246160
496    0.053622
497    0.410478
498    0.308297
Length: 499, dtype: float64
        service     arrival
0      0.021292    0.000000
1      1.067463    1.050247
2      1.070975    1.053931
3      1.890026    1.854768
4      2.198966    2.082552
..          ...         ...
494  473.542574  473.475043
495  473.851660  473.848512
496  473.881868  473.874214
497  474.956818  474.726842
498  476.075823  476.054266

[499 rows x 2 columns]
0      0.021292
1      0.017216
2      0.017045
3      0.035258
4      0.116414
         ...
494    0.067530
495    0.003149
496    0.007654
497    0.229976
498    0.021557
Length: 499, dtype: float64
        service     arrival
0      0.055114    0.000000
1      0.388471    0.371561
2      1.654361    1.651461
3      2.493986    2.481424
4      2.703394    2.566963
..          ...         ...
494  513.191025  512.987201
495  513.322699  513.270881
496  514.897802  514.867433
497  515.823349  515.745742
498  517.773326  517.690374

[499 rows x 2 columns]
0      0.055114
1      0.016910
2      0.002900
3      0.012562
4      0.136431
         ...
494    0.203824
495    0.051818
496    0.030369
497    0.077607
498    0.082952
Length: 499, dtype: float64
        service     arrival
0      0.018946    0.000000
1      0.331979    0.257328
2      1.411129    1.324157
3      2.178919    1.932423
4      5.342267    5.115086
..          ...         ...
494  505.757156  505.701530
495  505.848431  505.782760
496  507.399549  507.362996
497  507.551588  507.505108
498  507.993955  507.889201

[499 rows x 2 columns]
0      0.018946
1      0.074651
2      0.086971
3      0.246496
4      0.227180
         ...
494    0.055625
495    0.065671
496    0.036553
497    0.046479
498    0.104754
Length: 499, dtype: float64
        service     arrival
0      0.018047    0.000000
1      1.527251    1.402068
2      2.917088    2.699316
3      3.781546    3.746018
4      6.331771    6.156545
..          ...         ...
494  487.265637  486.916345
495  487.705700  487.607561
496  489.364083  489.217470
497  489.859986  489.855908
498  490.819808  490.781755

[499 rows x 2 columns]
0      0.018047
1      0.125183
2      0.217772
3      0.035528
4      0.175226
         ...
494    0.349292
495    0.098139
496    0.146613
497    0.004078
498    0.038052
Length: 499, dtype: float64
0    0.111565
1    0.108008
2    0.112563
3    0.106727
4    0.106565
5    0.113833
6    0.110410
7    0.125547
8    0.110111
9    0.116970
dtype: float64

(0.11222987819258219, (0.10872391503698259, 0.1157358413481818))

#### Utilização

In [273]:
simul.utilization(sim)

(0.10243523556906309, (0.0991618632709427, 0.10570860786718347))

### Métricas analíticas

#### Média de clientes

In [274]:
sim.average_customers()

0.1111111111111111

#### Média de espera

In [275]:
sim.average_wait()

0.1111111111111111

#### Utilização

In [276]:
sim.utilization()

0.1

## M/M/1: $\rho$ = 0.2, $\lambda$ = 1, $\mu$ = 2

In [285]:
sim = simul.queue_sim(lamda = 1, mu = 2)

    index type      time    N  duration  run   holding
0       0    a  0.000000    1       NaN    0  0.002192
1       1    a  0.002192    2       NaN    0  0.011728
2       2    a  0.013921    3       NaN    0  0.029348
3       3    a  0.043269    4       NaN    0  0.005448
4       4    a  0.048717    5       NaN    0  0.006478
..    ...  ...       ...  ...       ...  ...       ...
95     95    a  0.997942   96       NaN    0  0.008583
96     96    a  1.006524   97       NaN    0  0.001742
97     97    a  1.008267   98       NaN    0  0.013490
98     98    a  1.021756   99       NaN    0  0.005925
99     99    a  1.027681  100       NaN    0  0.003730

[100 rows x 7 columns]
{'Spent Time': {'Average': 4.71959044305388, 'Confidence Interval': (4.263539329329589, 5.175641556778171)}, 'Wait': {'Average': 3.4485699364802604, 'Confidence Interval': (2.9600488059433707, 3.93709106701715)}}
      index type      time    N  duration  run   holding
0         0    a  0.000000    1       NaN    0  0.035281
1         1    a  0.035281    2       NaN    0  0.000528
2         2    a  0.035809    3       NaN    0  0.025949
3         3    a  0.061758    4       NaN    0  0.009872
4         4    a  0.071630    5       NaN    0  0.004470
...     ...  ...       ...  ...       ...  ...       ...
9985    994    a  9.357747  977       NaN    9  0.002560
9986    995    a  9.360307  978       NaN    9  0.010196
9987    996    a  9.370503  979       NaN    9  0.001212
9988    997    a  9.371715  980       NaN    9  0.007607
9989    998    a  9.379322  981       NaN    9  0.017225

[9990 rows x 7 columns]
                                                Spent Time  \
Average                                           5.033005
Confidence Interval  (4.58173478251289, 5.484276144649802)

                                                       Wait
Average                                             4.04009
Confidence Interval  (3.639689687229356, 4.440490113188765)
Analytical - Spent time: -0.010101010101010102
Analytical - Wait: -1.0101010101010102

In [286]:
sim.data

      index type        time  N  duration  run   holding
0         0    a    0.000000  1       NaN    0  0.036474
1         1    s    0.036474  0  0.036474    0  0.421002
2         2    a    0.457476  1       NaN    0  0.697296
3         3    s    1.154772  0  0.697296    0  3.420807
4         4    a    4.575578  1       NaN    0  0.118952
...     ...  ...         ... ..       ...  ...       ...
9985    994    a  485.839189  1       NaN    9  0.490011
9986    995    s  486.329199  0  0.490011    9  0.319586
9987    996    a  486.648786  1       NaN    9  0.103372
9988    997    a  486.752158  2       NaN    9  0.350260
9989    998    s  487.102418  1  0.453633    9  0.066418

[9990 rows x 7 columns]

### Métricas simuladas

#### Média de clientes

In [279]:
simul.customers_mean(sim)

(0.9276832460558502, (0.8083225127446451, 1.0470439793670552))

#### Média de espera

In [280]:
simul.mean_wait(sim)

        service     arrival
0      0.076406    0.000000
1      0.813901    0.000421
2      0.937794    0.927225
3      1.617451    1.124569
4      2.705133    2.624780
..          ...         ...
494  498.014734  497.658534
495  499.375015  499.235964
496  500.166728  499.246296
497  500.442027  499.747522
498  501.456553  501.036147

[499 rows x 2 columns]
0      0.076406
1      0.813480
2      0.010569
3      0.492882
4      0.080352
         ...
494    0.356201
495    0.139051
496    0.920432
497    0.694505
498    0.420406
Length: 499, dtype: float64
        service     arrival
0      1.289631    0.000000
1      4.120462    3.377588
2      5.428550    3.531848
3      5.517480    4.489827
4      6.482884    5.641203
..          ...         ...
494  472.586144  471.444112
495  473.131955  471.467894
496  473.518229  472.596383
497  475.942251  475.255382
498  478.539644  477.568548

[499 rows x 2 columns]
0      1.289631
1      0.742875
2      1.896702
3      1.027653
4      0.841681
         ...
494    1.142032
495    1.664062
496    0.921846
497    0.686869
498    0.971096
Length: 499, dtype: float64
        service     arrival
0      0.603444    0.000000
1      2.034718    2.024567
2      2.551130    2.544592
3      4.246231    4.244242
4      4.934927    4.647121
..          ...         ...
494  506.928895  506.416032
495  508.342906  508.169986
496  510.194721  508.863300
497  510.324455  509.338254
498  511.344919  510.735410

[499 rows x 2 columns]
0      0.603444
1      0.010151
2      0.006537
3      0.001989
4      0.287805
         ...
494    0.512863
495    0.172920
496    1.331422
497    0.986202
498    0.609509
Length: 499, dtype: float64
        service     arrival
0      0.542906    0.000000
1      1.707231    1.234531
2      2.170339    2.164040
3      3.404765    2.665285
4      4.955339    2.978112
..          ...         ...
494  483.089681  482.775494
495  483.817908  483.806545
496  484.383448  484.170290
497  485.148084  485.135037
498  485.721342  485.527136

[499 rows x 2 columns]
0      0.542906
1      0.472700
2      0.006299
3      0.739480
4      1.977227
         ...
494    0.314187
495    0.011364
496    0.213158
497    0.013047
498    0.194205
Length: 499, dtype: float64
        service     arrival
0      0.173629    0.000000
1      0.764613    0.331917
2      2.281747    1.739404
3      4.153101    3.890358
4      5.707710    5.384723
..          ...         ...
494  493.332190  492.627000
495  494.114543  492.693391
496  494.223667  493.188788
497  494.825871  494.489046
498  495.215175  494.579920

[499 rows x 2 columns]
0      0.173629
1      0.432695
2      0.542343
3      0.262742
4      0.322987
         ...
494    0.705190
495    1.421152
496    1.034879
497    0.336824
498    0.635255
Length: 499, dtype: float64
        service     arrival
0      2.222213    0.000000
1      3.428837    3.080433
2      4.941585    3.550478
3      7.776562    4.101410
4      8.264926    5.078264
..          ...         ...
492  514.498445  511.986401
493  514.563270  512.561869
494  515.389658  513.857628
495  516.980425  513.948777
496  517.953846  515.079463

[497 rows x 2 columns]
0      2.222213
1      0.348404
2      1.391108
3      3.675152
4      3.186663
         ...
492    2.512044
493    2.001401
494    1.532030
495    3.031647
496    2.874383
Length: 497, dtype: float64
        service     arrival
0      0.510593    0.000000
1      0.581586    0.538003
2      1.483370    0.743959
3      3.671934    3.094489
4      4.335580    4.153236
..          ...         ...
494  491.372664  489.747253
495  491.939653  490.299702
496  492.047529  490.650669
497  494.821716  491.821011
498  494.924907  492.064077

[499 rows x 2 columns]
0      0.510593
1      0.043582
2      0.739411
3      0.577446
4      0.182344
         ...
494    1.625411
495    1.639951
496    1.396859
497    3.000704
498    2.860829
Length: 499, dtype: float64
        service     arrival
0      0.049365    0.000000
1      1.011619    0.088265
2      1.734467    0.175920
3      2.042629    0.406165
4      3.100498    0.656706
..          ...         ...
491  468.503231  461.664419
492  468.513140  461.726695
493  469.196986  462.403949
494  469.489379  462.773386
495  469.879930  462.849247

[496 rows x 2 columns]
0      0.049365
1      0.923353
2      1.558547
3      1.636464
4      2.443792
         ...
491    6.838812
492    6.786446
493    6.793037
494    6.715993
495    7.030683
Length: 496, dtype: float64
        service     arrival
0      0.274900    0.000000
1      1.090712    0.437616
2      2.324114    1.723806
3      2.815909    1.878014
4      3.123650    2.047484
..          ...         ...
494  492.129035  491.964174
495  492.232775  492.131302
496  493.187091  493.103377
497  494.157322  493.175727
498  494.200895  493.300235

[499 rows x 2 columns]
0      0.274900
1      0.653096
2      0.600308
3      0.937896
4      1.076166
         ...
494    0.164861
495    0.101473
496    0.083714
497    0.981595
498    0.900660
Length: 499, dtype: float64
        service     arrival
0      0.294430    0.000000
1      2.379982    1.184091
2      3.074624    2.933552
3      3.683141    3.647070
4      4.937466    3.987469
..          ...         ...
493  490.864720  490.235122
494  491.747399  491.675111
495  492.406639  491.970629
496  493.140194  492.572746
497  493.985157  493.110357

[498 rows x 2 columns]
0      0.294430
1      1.195891
2      0.141072
3      0.036071
4      0.949997
         ...
493    0.629597
494    0.072288
495    0.436011
496    0.567448
497    0.874800
Length: 498, dtype: float64
0    0.872782
1    0.859736
2    1.002626
3    0.906501
4    0.697679
5    0.883724
6    0.968369
7    1.297779
8    0.849632
9    0.778316
dtype: float64

(0.9117145012712313, (0.8124944046965902, 1.0109345978458724))

#### Utilização

In [281]:
simul.utilization(sim)

(0.48767565749912556, (0.4616662022351948, 0.5136851127630564))

### Métricas analíticas

#### Média de clientes

In [282]:
sim.average_customers()

1.0

#### Média de espera

In [283]:
sim.average_wait()

1.0

#### Utilização

In [284]:
sim.utilization()

0.5