In [1]:
#autoreload reloads modules automatically before entering the execution of code typed at the IPython prompt.
%load_ext autoreload
%autoreload 2

In [2]:
import simulations as simul
import pandas as pd

## M/M/1: $\rho$ = 0.1, $\lambda$ = 1, $\mu$ = 10

In [5]:
sim = simul.queue_sim(lamda = 1, mu = 10, export = True)

In [31]:
sim.data

     type        time  N  run   holding
0       a    0.000000  1    0  0.027712
1       s    0.027712  0    0  0.150917
2       a    0.178630  1    0  0.026283
3       s    0.204913  0    0  2.074467
4       a    2.279380  1    0  0.060178
...   ...         ... ..  ...       ...
9985    a  457.827261  1    9  0.041387
9986    s  457.868648  0    9  2.549896
9987    a  460.418544  1    9  0.064281
9988    s  460.482826  0    9  0.414278
9989    a  460.897103  1    9  0.010438

[9990 rows x 5 columns]

In [24]:
print(sim.service_durations)

1       0.268130
3       0.088932
6       0.176900
7       0.005223
9       0.007606
          ...
9980    0.013159
9982    0.157787
9984    0.010039
9986    0.193880
9988    0.005925
Name: duration, Length: 4990, dtype: float64

In [ ]:
metrics = simul.metrics(sim)
metrics

                                                                            Metrics
Spent Time        Simulated                                                0.109023
                  Confidence Interval     (0.1050436757376544, 0.11300157458109776)
                  Analytical                                               0.111111
Wait              Simulated                                                0.010701
                  Confidence Interval  (0.009541463010670222, 0.011860597425125796)
                  Analytical                                               0.011111
Average Customers Simulated                                                0.110234
                  Confidence Interval    (0.10441209333731254, 0.11605519647746855)
                  Analytical                                               0.111111
Utilization       Simulated                                                0.099356
                  Confidence Interval    (0.09480378232023323, 0.10390907696469487)
                  Analytical                                                    0.1

## M/M/1: $\rho$ = 0.2, $\lambda$ = 1, $\mu$ = 2

In [ ]:
sim = simul.queue_sim(lamda = 1, mu = 2)

In [ ]:
sim.data

      index type        time  N  duration  run   holding
0         0    a    0.000000  1       NaN    0  0.981705
1         1    s    0.981705  0  0.981705    0  2.216121
2         2    a    3.197826  1       NaN    0  0.108544
3         3    s    3.306369  0  0.108544    0  0.202060
4         4    a    3.508429  1       NaN    0  0.067180
...     ...  ...         ... ..       ...  ...       ...
9985    994    a  497.882297  1       NaN    9  0.055545
9986    995    a  497.937841  2       NaN    9  0.375512
9987    996    a  498.313353  3       NaN    9  0.281692
9988    997    a  498.595045  4       NaN    9  0.116997
9989    998    a  498.712042  5       NaN    9  0.344714

[9990 rows x 7 columns]

In [ ]:
simul.metrics(sim)

                                                                         Metrics
Spent Time        Simulated                                             1.019416
                  Confidence Interval    (0.9154504106240374, 1.123381462794595)
                  Analytical                                                 1.0
Wait              Simulated                                             0.511893
                  Confidence Interval  (0.41625958904126725, 0.6075266304405929)
                  Analytical                                                 0.5
Average Customers Simulated                                             1.024654
                  Confidence Interval    (0.8809420082731276, 1.168365531748254)
                  Analytical                                                 1.0
Utilization       Simulated                                             0.505404
                  Confidence Interval    (0.478595940644993, 0.5322122185511314)
                  Analytical                                                 0.5

## M/M/1: $\rho$ = 0.2, $\lambda$ = 1, $\mu$ = 2

In [ ]:
sim = simul.queue_sim(lamda = 1, mu = 2)

In [ ]:
sim.data

      index type        time  N  duration  run   holding
0         0    a    0.000000  1       NaN    0  0.981705
1         1    s    0.981705  0  0.981705    0  2.216121
2         2    a    3.197826  1       NaN    0  0.108544
3         3    s    3.306369  0  0.108544    0  0.202060
4         4    a    3.508429  1       NaN    0  0.067180
...     ...  ...         ... ..       ...  ...       ...
9985    994    a  497.882297  1       NaN    9  0.055545
9986    995    a  497.937841  2       NaN    9  0.375512
9987    996    a  498.313353  3       NaN    9  0.281692
9988    997    a  498.595045  4       NaN    9  0.116997
9989    998    a  498.712042  5       NaN    9  0.344714

[9990 rows x 7 columns]

In [ ]:
simul.metrics(sim)

                                                                         Metrics
Spent Time        Simulated                                             1.019416
                  Confidence Interval    (0.9154504106240374, 1.123381462794595)
                  Analytical                                                 1.0
Wait              Simulated                                             0.511893
                  Confidence Interval  (0.41625958904126725, 0.6075266304405929)
                  Analytical                                                 0.5
Average Customers Simulated                                             1.024654
                  Confidence Interval    (0.8809420082731276, 1.168365531748254)
                  Analytical                                                 1.0
Utilization       Simulated                                             0.505404
                  Confidence Interval    (0.478595940644993, 0.5322122185511314)
                  Analytical                                                 0.5

## M/M/1: $\rho$ = 1.2, $\lambda$ = 12, $\mu$ = 10

In [ ]:
sim = simul.queue_sim(lamda = 12, mu = 10)

In [ ]:
sim.data

      index type       time    N  duration  run   holding
0         0    a   0.000000    1       NaN    0  0.012560
1         1    a   0.012560    2       NaN    0  0.025837
2         2    a   0.038396    3       NaN    0  0.016456
3         3    a   0.054852    4       NaN    0  0.051549
4         4    a   0.106402    5       NaN    0  0.001716
...     ...  ...        ...  ...       ...  ...       ...
9985    994    s  44.132410  109  0.117884    9  0.128582
9986    995    s  44.260992  108  0.128582    9  0.042348
9987    996    a  44.303340  109       NaN    9  0.123374
9988    997    a  44.426714  110       NaN    9  0.052908
9989    998    a  44.479623  111       NaN    9  0.026385

[9990 rows x 7 columns]

In [ ]:
simul.metrics(sim)

                                                                        Metrics
Spent Time        Simulated                                             3.36857
                  Confidence Interval  (2.9865118995378417, 3.7506284191949595)
                  Analytical                                                inf
Wait              Simulated                                            3.273313
                  Confidence Interval  (2.8935579749003515, 3.6530681349138354)
                  Analytical                                                inf
Average Customers Simulated                                           41.524207
                  Confidence Interval   (36.87281236703877, 46.175601547830006)
                  Analytical                                                inf
Utilization       Simulated                                            0.990985
                  Confidence Interval  (0.9835971798407493, 0.9983725234692459)
                  Analytical                                                1.2

## M/M/1: $\rho$ = 2, $\lambda$ = 20, $\mu$ = 10

In [11]:
sim = simul.queue_sim(lamda = 20, mu = 10)

In [12]:
sim.data

     type       time    N  run   holding
0       a   0.000000    1    0  0.023961
1       a   0.023961    2    0  0.046322
2       a   0.070283    3    0  0.018334
3       s   0.088617    2    0  0.011636
4       a   0.100253    3    0  0.019917
...   ...        ...  ...  ...       ...
9985    a  32.148267  351    9  0.034470
9986    a  32.182738  352    9  0.019162
9987    a  32.201900  353    9  0.025864
9988    a  32.227764  354    9  0.012952
9989    a  32.240717  355    9  0.031264

[9990 rows x 5 columns]

In [15]:
simul.metrics(sim)

KeyError: "['duration'] not in index"